
<div class="modal-header">
  <h4 class="modal-title" jhiTranslate="voipadminApp.device.modelChange.title">Confirm Model Changing</h4>

  <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"
          (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
  <jhi-alert-error></jhi-alert-error>

  <p id="jhi-delete-deviceModel-heading" jhiTranslate="voipadminApp.device.modelChange.question">
    Are you sure you want to change this device's model? This will erase model's dependent settings,
    including line setting.
  </p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>

  <button id="jhi-confirm-delete-deviceModel" data-dismiss="modal"  class="btn btn-danger" (click)="confirmModelChange()">
    <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.change">Change</span>
  </button>
</div>
