<div>
  <h2 id="page-heading" data-cy="DeviceHeading">
    <span jhiTranslate="voipadminApp.device.home.title">Devices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="voipadminApp.device.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-device"
        [routerLink]="['/device/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="voipadminApp.device.home.createLabel">Create a new Device</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (devices?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="voipadminApp.device.home.notFound">No Devices found</span>
    </div>
  }

  @if (devices && devices.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mac">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.mac">Mac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inventoryId">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.inventoryId">Inventory Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hostname">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.hostname">Hostname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="webAccessLogin">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.webAccessLogin">Web Access Login</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="webAccessPasswordHash">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.webAccessPasswordHash">Web Access Password Hash</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dhcpEnabled">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.dhcpEnabled">Dhcp Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ipAddress">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.ipAddress">Ip Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subnetMask">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.subnetMask">Subnet Mask</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="defaultGw">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.defaultGw">Default Gw</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dns1">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.dns1">Dns 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dns2">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.dns2">Dns 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="provisioningMode">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.provisioningMode">Provisioning Mode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="provisioningUrl">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.provisioningUrl">Provisioning Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ntp">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.ntp">Ntp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="configPath">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.configPath">Config Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.notes">Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="model.name">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.model">Model</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="owner.lastName">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.owner">Owner</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parent.id">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.device.parent">Parent</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (device of devices; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/device', device.id, 'view']">{{ device.id }}</a>
              </td>
              <td>{{ device.mac }}</td>
              <td>{{ device.inventoryId }}</td>
              <td>{{ device.location }}</td>
              <td>{{ device.hostname }}</td>
              <td>{{ device.webAccessLogin }}</td>
              <td>{{ device.webAccessPasswordHash }}</td>
              <td>{{ device.dhcpEnabled }}</td>
              <td>{{ device.ipAddress }}</td>
              <td>{{ device.subnetMask }}</td>
              <td>{{ device.defaultGw }}</td>
              <td>{{ device.dns1 }}</td>
              <td>{{ device.dns2 }}</td>
              <td [jhiTranslate]="'voipadminApp.ProvisioningMode.' + (device.provisioningMode ?? 'null')">
                {{ { null: '', FTP: 'FTP', TFTP: 'TFTP', HTTP: 'HTTP', HTTPS: 'HTTPS' }[device.provisioningMode ?? 'null'] }}
              </td>
              <td>{{ device.provisioningUrl }}</td>
              <td>{{ device.ntp }}</td>
              <td>{{ device.configPath }}</td>
              <td>{{ device.notes }}</td>
              <td>
                @if (device.model) {
                  <div>
                    <a [routerLink]="['/device-model', device.model.id, 'view']">{{ device.model.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (device.owner) {
                  <div>
                    <a [routerLink]="['/owner', device.owner.id, 'view']">{{ device.owner.lastName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (device.parent) {
                  <div>
                    <a [routerLink]="['/device', device.parent.id, 'view']">{{ device.parent.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/device', device.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/device', device.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(device)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (devices && devices.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
