<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-device-model-heading"
        data-cy="DeviceModelCreateUpdateHeading"
        jhiTranslate="voipadminApp.deviceModel.home.createOrEditLabel"
      >
        Create or edit a Device Model
      </h2>

      <ul ngbNav #nav='ngbNav' class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink jhiTranslate="voipadminApp.deviceModel.tabs.general">General</a>
          <ng-template ngbNavContent>
            <div class="tab-content">
              <jhi-alert-error></jhi-alert-error>

              @if (editForm.controls.id.value !== null) {
                <div class="mb-3">
                  <label class="form-label" for="field_id" jhiTranslate="voipadminApp.deviceModel.id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
              }

              <div class="mb-3">
                <label class="form-label" for="field_vendor" jhiTranslate="voipadminApp.deviceModel.vendor">Vendor</label>
                <select
                  class="form-control"
                  id="field_vendor"
                  data-cy="vendor"
                  name="vendor"
                  formControlName="vendor"
                  [compareWith]="compareVendor"
                  (change)="onVendorChange()"
                >
                  <option [ngValue]="null"></option>
                  @for (vendorOption of vendorsSharedCollection; track $index) {
                    <option [ngValue]="vendorOption">{{ vendorOption.name }}</option>
                  }
                </select>
              </div>

              @let nameRef = editForm.get('name')!;
              <div class="mb-3">
                <label class="form-label" for="field_name" jhiTranslate="voipadminApp.deviceModel.name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
                @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
                  <div>
                    @if (editForm.get('name')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
              </div>

              <div class="mb-3">
                <label class="form-label" for="field_deviceType" jhiTranslate="voipadminApp.deviceModel.deviceType">Device Type</label>
                <select class="form-control" name="deviceType" formControlName="deviceType" id="field_deviceType" data-cy="deviceType">
                  <option [ngValue]="null">{{ 'voipadminApp.DeviceType.null' | translate }}</option>
                  @for (deviceType of deviceTypeValues; track $index) {
                    <option [value]="deviceType">{{ 'voipadminApp.DeviceType.' + deviceType | translate }}</option>
                  }
                </select>
              </div>

              @if (editForm.controls.deviceType.value == 'OTHER') {
              <div class="mb-3">
                <label class="form-label" for="field_otherDeviceType" jhiTranslate="voipadminApp.deviceModel.otherDeviceType"
                  >Other Device Type</label
                >
                <select
                  class="form-control"
                  id="field_otherDeviceType"
                  data-cy="otherDeviceType"
                  name="otherDeviceType"
                  formControlName="otherDeviceType"
                  [compareWith]="compareOtherDeviceType"
                >
                  <option [ngValue]="null"></option>
                  @for (otherDeviceTypeOption of otherDeviceTypesSharedCollection; track $index) {
                    <option [ngValue]="otherDeviceTypeOption">{{ otherDeviceTypeOption.id }}</option>
                  }
                </select>
              </div>
              }

              @let configurableRef = editForm.get('configurable')!;
              <div class="mb-3">
                <label class="form-label" for="field_configurable" jhiTranslate="voipadminApp.deviceModel.configurable">Configurable</label>
                <input
                  type="checkbox"
                  class="form-check"
                  name="configurable"
                  id="field_configurable"
                  data-cy="configurable"
                  formControlName="configurable"
                />
                @if (configurableRef.invalid && (configurableRef.dirty || configurableRef.touched)) {
                  <div>
                    @if (editForm.get('configurable')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
              </div>

              @if (editForm.get('configurable')?.value) {
              <div class="mb-3">
                <label class="form-label" for="field_linesAmount" jhiTranslate="voipadminApp.deviceModel.linesAmount">Lines Amount</label>
                <input
                  type="number"
                  class="form-control"
                  name="linesAmount"
                  id="field_linesAmount"
                  data-cy="linesAmount"
                  formControlName="linesAmount"
                />
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="voipadminApp.deviceModel.configTemplate" for="field_configTemplate"
                >Config Template</label
                >
                @if (editForm.get('configTemplateFileName')?.value && !editForm.get('configTemplateFile')?.value) {
                  <a
                      class="pull-left"
                      (click)="downloadConfigTemplateFile()"
                      >Open</a>
                }
                <div>
                  <input
                    type="file"
                    id="file_configTemplate"
                    data-cy="configTemplate"
                    (change)="setFileData($event, 'configTemplateFile', false)"
                    jhiTranslate="entity.action.addblob"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="configTemplateFile"
                  id="field_configTemplateFile"
                  data-cy="configTemplateFile"
                  formControlName="configTemplateFile"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="configTemplateFileContentType"
                  id="field_configTemplateFileContentType"
                  formControlName="configTemplateFileContentType"
                />
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="voipadminApp.deviceModel.firmwareFile" for="field_firmwareFile"
                >Firmware File</label
                >
                @if (editForm.get('firmwareFileName')?.value && !editForm.get('firmwareFile')?.value) {
                  <a
                      class="pull-left"
                      (click)="downloadFirmwareFile()"
                      >Open</a>
                }
                <div>
                  <input
                    type="file"
                    id="file_firmwareFile"
                    data-cy="firmwareFile"
                    (change)="setFileData($event, 'firmwareFile', false)"
                    jhiTranslate="entity.action.addblob"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="firmwareFile"
                  id="field_firmwareFile"
                  data-cy="firmwareFile"
                  formControlName="firmwareFile"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="firmwareFileContentType"
                  id="field_firmwareFileContentType"
                  formControlName="firmwareFileContentType"
                />
              </div>
              }
            </div>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink jhiTranslate="voipadminApp.deviceModel.tabs.options">Options</a>
          <ng-template ngbNavContent>
            <div class="tab-content">
              <div class="mb-3">
                <label for="field_options" jhiTranslate="voipadminApp.deviceModel.options">Options</label>
                <select
                  class="form-control"
                  id="field_options"
                  data-cy="options"
                  multiple
                  name="options"
                  formControlName="options"
                  [compareWith]="compareOption"
                >
                  @for (optionOption of optionsSharedCollection; track $index) {
                    <option [ngValue]="optionOption">{{ optionOption.code }}</option>
                  }
                </select>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav"></div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
