<div>
  <h2 id="page-heading" data-cy="VoipAccountHeading">
    <span jhiTranslate="voipadminApp.voipAccount.home.title">Voip Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="voipadminApp.voipAccount.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-voip-account"
        [routerLink]="['/voip-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="voipadminApp.voipAccount.home.createLabel">Create a new Voip Account</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (voipAccounts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="voipadminApp.voipAccount.home.notFound">No Voip Accounts found</span>
    </div>
  }

  @if (voipAccounts && voipAccounts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manual">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.manual">Manual</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.username">Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="passwordHash">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.passwordHash">Password Hash</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sipServer">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.sipServer">Sip Server</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sipPort">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.sipPort">Sip Port</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lineEnable">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.lineEnable">Line Enable</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lineNumber">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.lineNumber">Line Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="device.id">
              <div class="d-flex">
                <span jhiTranslate="voipadminApp.voipAccount.device">Device</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (voipAccount of voipAccounts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/voip-account', voipAccount.id, 'view']">{{ voipAccount.id }}</a>
              </td>
              <td>{{ voipAccount.manual }}</td>
              <td>{{ voipAccount.username }}</td>
              <td>{{ voipAccount.passwordHash }}</td>
              <td>{{ voipAccount.sipServer }}</td>
              <td>{{ voipAccount.sipPort }}</td>
              <td>{{ voipAccount.lineEnable }}</td>
              <td>{{ voipAccount.lineNumber }}</td>
              <td>
                @if (voipAccount.device) {
                  <div>
                    <a [routerLink]="['/device', voipAccount.device.id, 'view']">{{ voipAccount.device.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/voip-account', voipAccount.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/voip-account', voipAccount.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(voipAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (voipAccounts && voipAccounts.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
