<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (voipAccount(); as voipAccountRef) {
      <div>
        <h2 data-cy="voipAccountDetailsHeading"><span jhiTranslate="voipadminApp.voipAccount.detail.title">Voip Account</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ voipAccountRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.manual">Manual</span></dt>
          <dd>
            <span>{{ voipAccountRef.manual }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.username">Username</span></dt>
          <dd>
            <span>{{ voipAccountRef.username }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.passwordHash">Password Hash</span></dt>
          <dd>
            <span>{{ voipAccountRef.passwordHash }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.sipServer">Sip Server</span></dt>
          <dd>
            <span>{{ voipAccountRef.sipServer }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.sipPort">Sip Port</span></dt>
          <dd>
            <span>{{ voipAccountRef.sipPort }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.lineEnable">Line Enable</span></dt>
          <dd>
            <span>{{ voipAccountRef.lineEnable }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.lineNumber">Line Number</span></dt>
          <dd>
            <span>{{ voipAccountRef.lineNumber }}</span>
          </dd>
          <dt><span jhiTranslate="voipadminApp.voipAccount.device">Device</span></dt>
          <dd>
            @if (voipAccount()!.device) {
              <div>
                <a [routerLink]="['/device', voipAccount()!.device?.id, 'view']">{{ voipAccountRef.device?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/voip-account', voipAccountRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
