<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-option-heading" data-cy="OptionCreateUpdateHeading" jhiTranslate="voipadminApp.option.home.createOrEditLabel">
        Create or edit a Option
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="voipadminApp.option.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_code" jhiTranslate="voipadminApp.option.code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descr" jhiTranslate="voipadminApp.option.descr">Descr</label>
          <input type="text" class="form-control" name="descr" id="field_descr" data-cy="descr" formControlName="descr" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valueType" jhiTranslate="voipadminApp.option.valueType">Value Type</label>
          <select class="form-control" name="valueType" formControlName="valueType" id="field_valueType" data-cy="valueType">
            <option [ngValue]="null">{{ 'voipadminApp.OptionValueType.null' | translate }}</option>
            @for (optionValueType of optionValueTypeValues; track $index) {
              <option [value]="optionValueType">{{ 'voipadminApp.OptionValueType.' + optionValueType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_multiple" jhiTranslate="voipadminApp.option.multiple">Multiple</label>
          <input type="checkbox" class="form-check" name="multiple" id="field_multiple" data-cy="multiple" formControlName="multiple" />
        </div>

        <div class="mb-3">
          <label for="field_vendors" jhiTranslate="voipadminApp.option.vendors">Vendors</label>
          <select
            class="form-control"
            id="field_vendors"
            data-cy="vendors"
            multiple
            name="vendors"
            formControlName="vendors"
            [compareWith]="compareVendor"
          >
            @for (vendorOption of vendorsSharedCollection; track $index) {
              <option [ngValue]="vendorOption">{{ vendorOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_models" jhiTranslate="voipadminApp.option.models">Models</label>
          <select
            class="form-control"
            id="field_models"
            data-cy="models"
            multiple
            name="models"
            formControlName="models"
            [compareWith]="compareDeviceModel"
          >
            @for (deviceModelOption of deviceModelsSharedCollection; track $index) {
              <option [ngValue]="deviceModelOption">{{ deviceModelOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
