<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-setting-heading" data-cy="SettingCreateUpdateHeading" jhiTranslate="voipadminApp.setting.home.createOrEditLabel">
        Create or edit a Setting
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="voipadminApp.setting.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_textValue" jhiTranslate="voipadminApp.setting.textValue">Text Value</label>
          <input type="text" class="form-control" name="textValue" id="field_textValue" data-cy="textValue" formControlName="textValue" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_option" jhiTranslate="voipadminApp.setting.option">Option</label>
          <select
            class="form-control"
            id="field_option"
            data-cy="option"
            name="option"
            formControlName="option"
            [compareWith]="compareOption"
          >
            <option [ngValue]="null"></option>
            @for (optionOption of optionsSharedCollection; track $index) {
              <option [ngValue]="optionOption">{{ optionOption.code }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_selectedValues" jhiTranslate="voipadminApp.setting.selectedValues">Selected Values</label>
          <select
            class="form-control"
            id="field_selectedValues"
            data-cy="selectedValues"
            multiple
            name="selectedValues"
            formControlName="selectedValues"
            [compareWith]="compareOptionValue"
          >
            @for (optionValueOption of optionValuesSharedCollection; track $index) {
              <option [ngValue]="optionValueOption">{{ optionValueOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_device" jhiTranslate="voipadminApp.setting.device">Device</label>
          <select
            class="form-control"
            id="field_device"
            data-cy="device"
            name="device"
            formControlName="device"
            [compareWith]="compareDevice"
          >
            <option [ngValue]="null"></option>
            @for (deviceOption of devicesSharedCollection; track $index) {
              <option [ngValue]="deviceOption">{{ deviceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
